* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#install-pwa {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #00000090;
  color: white;
}
.v-theme--light {
  background-color: #f3f0e6;
}
