* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.backimg {
  background-image: url("/beach02.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: scroll;
}
#install-pwa {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #00000090;
  color: white;
}
.v-theme--light {
  background-color: #f3f0e6;
}
